*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f4fc;
    font-family: Arial, Helvetica, sans-serif
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.menu li a{
    text-decoration: none;
    font-size: 17px;
    color: #6b708d;
    transition: color 0.3s
}

.menu li a:hover{
    color: #072ac8;
}

.nav-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #072ac8;
    padding: 0.5rem 1rem;
    transition: 1s ease;
}

.nav-button:hover {
    color: #43d2ff;
    background-color: #0623a1;
}

.contact-section{
    max-width: 1150px;
    margin: 60px auto;
    padding: 0 2rem;
}

.contact-section h1{
    text-align: left;
    color: #292e47;
    margin-bottom: 1rem;
    margin-left: 30px;
}

form{
    padding: 30px;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin-bottom: 5px;
    color: #6b708d;
}

.form-group input{
    padding: 15px;
    font-size: 16px;
    background-color: #dfe0e8;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    resize: none;
    background-color: #dfe0e8;
    border: none;
}

.form-row{
    display: flex;
    gap: 20px;
}

.form-row .form-group{
    flex: 1;
}

button{
    background-color: #0a2efb;
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

button:hover{
    color: #43d2ff;
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.15);
}


.success-message {
  max-width: 300px;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #0a2efb;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
  display: none;
}

.success-message.show {
  display: block;
}

.hidden {
  display: none;
}

.success-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a2efb;
  color: white;
  padding: 20px 30px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.success-message.show {
  display: block;
  opacity: 1;
}

.footer-container{
    color: #6b708d;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 11.5rem;
    flex-wrap: wrap;
}

.footer-logo img{
    width: 90px;
    margin-bottom: 1rem;
}

.footer-logo address{
    white-space: pre-line;
    font-style: normal;
}

.footer-container ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3rem 6rem;
    padding: 0;
    margin: 0;
}

.footer-container ul li a{
    text-decoration: none;
    color: #6b708d;
    transition: 1s ease;
}

.footer-container ul li a:hover{
    color: #0623a1;
}

.footer-container ul li{
    transition: 1s ease;
}

.footer-container ul li:hover{
    color: #0623a1;
    cursor: pointer;
}