*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f4fc;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.menu li a{
    text-decoration: none;
    font-size: 17px;
    color: #6b708d;
    transition: color 0.3s
}

.menu li a:hover{
    color: #072ac8;
}

.nav-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #072ac8;
    padding: 0.5rem 1rem;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    white-space: pre-line;
}

.hero p {
    font-size: 1rem;
    color: #6b708d;
    margin-bottom: 1.5rem;
    white-space: pre-line;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: #072ac8;
    padding: 0.5rem 1rem;
    color: #ffffff;
}

.button-right{
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #6b708d;
}

.hero-images {
    position: relative;
}

.team-member {
    width: 400px;
}

.left {
    position: absolute;
    top: -20px;
    left: -90px;
    width: 300px;
    cursor: pointer;
    transition: 0.5s;
}

.left:hover{
    transform: scale(1.03);
}

.right {
    position: absolute;
    top: 280px;
    right: -80px;
    width: 270px;
    cursor: pointer;
    transition: 0.5s;
}

.right:hover{
    transform: scale(1.03);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
}

.logos div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.logos img {
    filter: grayscale(100%);
    transition: filter 0.5s, transform 0.5s;
}

.logos img:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
    cursor: pointer;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1100px;
}

.projects-grid h2{
    font-size: 2rem;
    grid-column: 1 / -1;
    white-space: pre-line;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.projects-card {
    background-color: #f2f4fc;
    box-shadow: 0 10px 50px rgb(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    margin-bottom: 10rem;
}

.projects-card:hover {
    transform: translateY(-5px);
}

.projects-card h3{
    font-size: 1.5rem;
    margin: 2rem 2rem 0 ;
}
 
.projects-card p{
    font-size: 1rem;
    margin: 0.8rem 2rem;
    color: #6b708d;
}

.projects-card a{
    text-decoration: none;
    font-size: 1rem;
    margin: 0.8rem 2rem;
    color: #072ac8;
    cursor: pointer;
    padding: 25px 0 15px;
}

.projects-card img {
    width: 100%;
    height: 250px;
    display: block;
}